<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>demoBike Web Application</display-name>

  <!-- Step 1: All <servlet> tags go first -->
  <servlet>
    <servlet-name>ViewMaintenance</servlet-name>
    <servlet-class>com.bikerental.maintenance.controller.ViewMaintenanceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddMaintenance</servlet-name>
    <servlet-class>com.bikerental.maintenance.controller.AddMaintenanceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteMaintenance</servlet-name>
    <servlet-class>com.bikerental.maintenance.controller.DeleteMaintenanceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UpdateMaintenance</servlet-name>
    <servlet-class>com.bikerental.maintenance.controller.UpdateMaintenanceServlet</servlet-class>
  </servlet>


  <!-- Step 2: Then put the <servlet-mapping> tags -->
  <servlet-mapping>
    <servlet-name>ViewMaintenance</servlet-name>
    <url-pattern>/maintenanceList</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddMaintenance</servlet-name>
    <url-pattern>/addMaintenance</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteMaintenance</servlet-name>
    <url-pattern>/deleteMaintenance</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
    <servlet-name>UpdateMaintenance</servlet-name>
    <url-pattern>/updateMaintenance</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>addMaintenance.jsp</welcome-file>
  </welcome-file-list>

</web-app>